@use 'src/styles/vars' as v;

.apartments {
  .apartmentList-buttons {
    margin-top: 1em;
    margin-right: 2em;
    text-align: right;
  }
  .apartmentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    &__apartment {
      background-color: white;
      width: 400px;
      border: rgba(105,105,105,0.7) 1px solid;
      border-radius: 1em;
      margin-top: 2em;
      &-title {
        text-decoration: none;
        font-size: 1.5em;
        text-align: left;
        margin-left: 2em;
        color: #303030;
      }
      &-subtitle {
        text-decoration: none;
        font-size: 1.5em;
        margin-top: 0em;
        text-align: left;
        margin-left: 2.5em;
        color: #303030;
      }
    }
  }
}
