@use 'src/styles/vars' as v;

.singleCustomer {
  width: 700px;
  border: solid 1px rgba(105,105,105,0.7);
  margin: 0em auto;
  margin-top: 1em;
  border-radius: 2em;
  background-color: white;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  &-title {
    color: #3F6E77;
    padding-top: 0.5em;
  }
  &-text {
    text-align: left;
    margin-left: 2em;
    margin-top: 0em;
    padding-bottom: 0.5em;
  }
}
