@use 'src/styles/vars' as v;

.singleApartment {
  &_rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &_room {
    width: 400px;
    border: 1px solid grey;
    border-radius: 2em;
    margin-top: 2em;
    &-text {
      font-size: 1em;
      margin: 1em 0em;
    }
  }
  &-button {
    text-align: right;
    margin-right: 2em;
  }
}

a.ui.button {
  width: 300px;
  height: 40px;
}
