@use 'src/styles/vars' as v;

.bookingList {
  text-align: left;
  &-buttons {
    text-align: right;
    margin-top: 1em;
    margin-right: 2em;
  }
  &_cell {
    background-color: white;
    margin: 1em 2em;
    border: 1px solid rgba(105,105,105,0.7);
    border-radius: 0.2em;
    &-fullName {
      text-decoration: none;
      padding-top: 0.5em;
      font-size: 1.5em;
      margin-left: 2em;
      color: #303030;
    }
    &-infos {
      font-size: 1.5em;
      color: #404040;
      padding: 0.5em 0em;
      margin-left: 2.3em;
    }
  }
}
